<h1>What is EuphWiki?</h1>
<p>EuphWiki is going to be the ultimate web source for the history of the euphonium.  It will consist of history of the manufacture of the instrument iteslf, performing artsits, composers, compositions, and more. EuphWiki will be open for anyone to contirbute to, similar in functionality to other wiki sites such as wikipedia.  We look forward to launching soon, and having you help us create this online history of everything euphonium.</p>
